
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Smooch&display=swap');

:root {
    /* --color: #4973ff;  */                      /* azul medio */
    /* --color: #42f4e8; */                   /* verde claro */
    /* --color: rgb(212, 139, 3); */                /* naranja ocre */
   /*  --color: #ebf66e; */                         /* amarillo */
   /*  --color: #b555dd;  */                        /* lila */
    /* --color: #bafb66fe; */                  /* verde */
    /* --color: #4bf442;  */                          /* verde fluorescente */
    /* --color: rgb(240, 200, 63); */     /*color dorado*/
    /* --color: rgb(192, 192, 192)  */                       /* plateado */
    --color: rgb(148, 111, 191);
    --color: rgb(51, 174, 205);

    
    
    
  }
  
  .bodyHome {
    font-size: 16px;
    font-family: 'Smooch', cursive;
    margin: 0;
    padding: 0;
    
  }
  
  .contentHome {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    
  }

  .imagenHome{
   
  }
  
  .heroHome {
    position: relative;
    background: #333333;
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    

    
  }
  
  .heroHome h2 {
    font-family: 'Allura', cursive;
    position: relative;
    z-index: 1;
    font-size: 5rem;
    margin: 0 0 10px;
    line-height: 1;
    color: rgb(193, 220, 227);
    
  }
  
  .pHome {
    position: relative;
    z-index: 1;
    font-size: 2rem;
    color: rgb(193, 220, 227);
    line-height: .5;
  }
  
  /* ========================= */
  
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 230px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    
  }
  
  .waves::before,
  .waves::after {
    content: '';
    position: absolute;
    width: 290vw;
    height: 290vw;
    top: -63vw;
    left: 48%;
    transform: translate(-50%, -75%);
    background-image: url("https://www.incae.edu/sites/default/files/styles/firehose-main-mobile-landscape/public/digital_mkt_01.jpg?itok=GEjdc5Wh");
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-size: cover; */
    
  }
  
  .waves::before {
    border-radius: 49%;
    
    /* background: rgba(51, 51, 51, 1); */
    animation: waves 8s linear inherit;
  }
  
  .waves::after {
    border-radius: 43%;
    background: rgba(51, 51, 51, 0.5);
    animation: waves 15s linear infinite;
  }
  
  @keyframes waves {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  

  /* ---------------  */

  