



/*--------navbar neon-----------*/

/* font used */
@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Smooch&family=Sriracha&display=swap');

/* body,*{
  margin: 0;
  padding: 0;
}

containerNavbar {
    display: flex;
    justify-content: center;
}

.sticky-top{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
} */

/* bodynavbar{
  width: 100%;
  height: 1264px; */
  /* background-image: url("https://s33.postimg.cc/obnod1hj3/pexels19.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: center; */

/* } */

/* .ulNavbar{
  width:100%;
  height: 100%;
  background-color: rgb(0,0,0,0.8);
}
.ulNavbar li{  
  padding: 15px 20px;
  display: inline-block;
  list-style: none;

}
.ulNavbar li a{
    font-family: 'Sriracha', cursive;
  font-size: 30px;
  text-decoration: none;
  color: #fb7f66;  
  transition: all ease 0.25s;
} */

/* Neon effect when we hover over a link */
/* .blue a:hover {
 color: white;
 text-shadow:
  0 0 5px #42f4e8,
  0 0 10px #42f4e8,
  0 0 20px #42f4e8,
  0 0 40px #42f4e8,
  0 0 80px #42f4e8,
  0 0 90px #42f4e8,
  0 0 100px #42f4e8,
  0 0 150px #42f4e8;
}
.purple a:hover {
 color: white;
 text-shadow:
  0 0 5px #b555dd,
  0 0 10px #b555dd,
  0 0 20px #b555dd,
  0 0 40px #b555dd,
  0 0 80px #b555dd,
  0 0 90px #b555dd,
  0 0 100px #b555dd,
  0 0 150px #b555dd;
}
.pink a:hover {
 color: white;
 text-shadow:
  0 0 5px #4973ff,
  0 0 10px #4973ff,
  0 0 20px #4973ff,
  0 0 40px #4973ff,
  0 0 80px #4973ff,
  0 0 90px #4973ff,
  0 0 100px #4973ff,
  0 0 150px #4973ff;
}
.green a:hover {
 color: white;
 text-shadow:
  0 0 5px #4bf442,
  0 0 10px #4bf442,
  0 0 20px #4bf442,
  0 0 40px #4bf442,
  0 0 80px #4bf442,
  0 0 90px #4bf442,
  0 0 100px #4bf442,
  0 0 150px #4bf442;
}
.yellow a:hover {
 color: white;
 text-shadow:
  0 0 5px #e5f441,
  0 0 10px #e5f441,
  0 0 20px #e5f441,
  0 0 40px #e5f441,
  0 0 80px #e5f441,
  0 0 90px #e5f441,
  0 0 100px #e5f441,
  0 0 150px #e5f441;
} */


/* "RESPONSIVE" for small devices */
/* @media only screen and (max-width:700px){
  body{
  height: 100%;
  }
  ul{
   height: 100%;
  }
  ul li {
    display: block;
    text-align: center;
    padding-top:4rem;
  }
    ul li:last-child {
    padding-bottom:7.2rem;
  }
} */


/*============   Navbar1   ==========*/

/*--------   CSS RESET ---------*/
/* *{
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */

.bodyNav{
    font-family: 'Sriracha', cursive;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
    
}

.headerNav{
    width: 100%;
    height: 100%;
    /* background-image: url("https://www.adslzone.net/app/uploads-adslzone.net/2021/10/lenguaje-de-programacion.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

/*--------  NAVEGATION ---------*/

.navNav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51 50 50 / 72%);
    
}
.Logo{
    width: 60px;
    margin-left: 20px;

}

.bar-btn{
    font-size: 25px;
    color: rgba(245, 177, 129, 0.88);
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu .fas{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align:center;
    transition: all .5s;
}

.nav-menu .blueJeanlev{
    display: none;
    line-height: 10px;
    margin: 20px 0;
    transition: all .5s;
}

.nav-menu .blueJeanlev a{
    color: rgb(51, 174, 205);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu .blueJeanlev a.active, .nav-menu .blueJeanlev a:hover{
    color: rgb(51, 174, 205);
    transition: .5s;
}

#check .fas{
    display:none;
    }

#check:checked ~ .nav-menu{
    height: 10vh;
}

#check:checked ~ .nav-menu .yellow{
    display: block;
}

/*-------- BANNER TEXT ---------*/

.banner-text{
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: #fff;
}

.banner-text .blueJeanlev{
    font-size: 50px;
    margin-bottom: 30px;
}
.banner-text span{
    color: rgb(248, 8, 8);
}

.banner-text h2{
    font-size: 16px;
    font-weight: 600;
}


/* Neon effect when we hover over a link */

/* .yellow a:hover {
    color: white;
    text-shadow:
     0 0 5px #f3fe79,
     0 0 10px #f3fe79,
     0 0 20px #f3fe79,
     0 0 40px #f3fe79,
     0 0 80px #f3fe79,
     0 0 90px #f3fe79,
     0 0 100px #f3fe79,
     0 0 150px #f3fe79;
   } */

   .blueJeanlev a:hover {
    color: white;
    text-shadow:
     0 0 5px rgb(51, 174, 205),
     0 0 10px rgb(51, 174, 205),
     0 0 20px rgb(51, 174, 205),
     0 0 40px rgb(51, 174, 205),
     0 0 80px rgb(51, 174, 205),
     0 0 90px rgb(51, 174, 205),
     0 0 100px rgb(51, 174, 205),
     0 0 150px rgb(51, 174, 205);
   }
   

/*--- RESPONSIVE FOR DESKTOP ---*/

@media screen and (min-width:760px){
    .logo{
        margin-left: 50px;
    }

    .navNav{
        height: 100px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 25px;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
        z-index: 1;
    }

    .nav-menu .blueJeanlev{
        display:inline-block;
        line-height: 50px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu .blueJeanlev a{
        font-size: 16px;
    }

    .banner-text h1{
        font-size: 70px;
        margin-bottom: 30px;
    }

    .banner-text h2{
        font-size: 20px;
    }
}


